* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: whitesmoke;
}
.container {
  width: 50%;
  height: 50vh;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  border: silver 2px solid;
}
.App > h1 {
  font-size: 60px;
  margin: 2%;
  color: silver;
}