.footer_content {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(221, 219, 219);
    align-items: center;
    border-top: solid 2px silver;
}
.footer_content > h1 {
    font-size: 25px;
    color: white;
    margin-left: 2%;
}
.footer_content > button {
    width: 25%;
    height: 100%;
    font-size: large;
    border: none;
    border-left: silver solid 2px;
    color: silver;
}