.input_div {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
}
.input_div > input {
    width: 100%;
    height: 100%;
    font-size: 40px;
    text-align: center;
    background-color: rgb(221, 219, 219);
    color: white;
    outline: none;
    border: none;
    border-bottom: 2px solid silver;
    padding: 1%;
}
.input_div > button {
    width: 30%;
    height: 100%;
    border-radius: 0;
    border: none;
    border-bottom: silver 2px solid;
    border-left: silver solid 2px;
    font-size: 30px;
    color: silver;
}